// using BEM css naming convention
.card-wrapper {
  padding: 0.5rem;
  background: #fff;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 0.5rem;
  width: 14rem;
  &__id {
    width: 100%;
    text-align: left;
  }
  &__title {
    text-align: left;
    width: 100%;
    padding: 0.5rem 0;
  }
  &__body {
    width: 100%;
    text-align: left;
  }
}
